/* nav bar css */
.navbar {
  height: 50px;
  background-color: teal;
  color: #fff;
  padding: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar .scores {
  float: left;
}

.navbar .timer {
  float: right;
}

/* body css */
h1 {
  padding: 10px;
  text-align: center;
}

div p {
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
}

div button {
  border: none;
  background-color: teal;
  border-radius: 50px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 36px;
  line-height: 22px;
  margin: 20px;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 5px rgb(2, 53, 53);
}

div button:hover {
  background-color: rgba(0, 128, 128, 0.788);
}

div button:active {
  background-color: teal;
  box-shadow: 0 5px #333;
  transform: translateY(4px);
}

.hide {
  display: none;
}

#questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.result {
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding: 20px 0px;
  text-decoration: underline;
  color: #333;
}
.correct {
  color: green;
}

.incorrect {
  color: red;
}

.submit {
  background-color: teal;
  color: #fff;
  border: none;
  font-size: 16px;
  box-shadow: 0 5px 5px rgba(2, 53, 53, 0.3);
  cursor: pointer;
  line-height: 1.2;
  padding: 0.1rem 3rem;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #008080;
}

.submitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#name {
  margin: 10px;
}

.highscores {
  border-top:2px dashed white ;
  display: flex;
  justify-content: space-around;
  background-color: #008080;
  padding: 20px;
  color: white;
  font-size: 16px;
}

#scores {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 16px;
}
